backend/staticfiles/
backend/attachment/
backend/logs/
backend/venv/
backend/docs/
frontend/dist/
node_modules
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sqlite*
*.db
migrations/
_pycache_/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
.cursor/
*.xlsx
*.pdf
deploy_gunicorn.sh
nginx_xmes.conf
settings.py
frontend/tests/
frontend/test-results/